<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="Styles.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="./images/logo2.jpg" alt="Company Logo">
        </div>
        <nav>
          <a href="Home.html">Home</a>
          <a href="About.html">About Us</a>
          <a href="Subjects.html">Subjects</a>
          <a href="Contact.html">Contact</a>
        </nav>
      </header>

    <div class="about">
        <h1>About Us</h1>
    </div>

    <div class="container">
        <div class="side1">
        <h1>About our school</h1>
        <p>Thabane high school was established in 1979. The school is an ordinary public school situated in Kimberley in the 
           Northern Cape, South Africa. Currently it consists of 1 principla,1 deputy principal 4 heads of departments 21 teachers. 
           The school offers Grade 8 up to Grade 12. We have about 811 leaners in total 27 teachers in total 13 mails and 14 femails. 
           Our dressing code in uniform is Marron and White, marron socks and black shoes. Boys ware grey trousers marron or gray socks, 
           white shirts marron tie with white stripes. Girls marron skirts white blouses, marron tie with white stripes.
        </p>
        <h1>Value</h1>
        <p>Commitment by all stakeholders Professionalism Discipline Integrity Accountability Proper utilization of resources Ownership of our school</p>

        <h1>What to Expect</h1>
        <p>We care for our learners and instil in them a sense of respect for each other and every other person. Our target is a 
            100% pass in matric and every grade, every term of every year. Our first matric group obtained 90% pass rate in November 2007. 
            We are hoping to provide opportunities for our learners beyond the class, like Gadaffi Nkosi and Claudia Masemola who received scholarships 
            to study in America. We strive to produce world class graduates.
        </p>
    </div>
    <div class="side2">
        <img src="./images/classroom.png" alt="">
    </div>
    </div>

    <div class="footer">
        <p>Copyright © 2016. website powered by </p>
        <img src="./images/footer.webp" alt="">
    </div>

</body>

</html>