<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thabane Mimic</title>
    <link rel="stylesheet" href="About.html">
    <link rel="stylesheet" href="Subjects.html">
    <link rel="stylesheet" href="Contact.html">
    <link rel="stylesheet" href="Styles.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="./images/logo2.jpg" alt="Company Logo">
        </div>
        <nav>
          <a href="Home.html">Home</a>
          <a href="About.html">About Us</a>
          <a href="Subjects.html">Subjects</a>
          <a href="Contact.html">Contact</a>
        </nav>
      </header>

    <div>
        <img class="banner" src="./images/banner.jpeg" alt="">
    </div>

    <div class="container">
        <div class="box1">
            <h1>Our Students</h1>
            <img src="./images/classroom.png" alt="">
        </div>
        <div class="box2">
            <p>Thabane high school was established in 1979. The school is an ordinary public school situated in
                Kimberley in the
                Northern Cape, South Africa. Currently it consists of 1 principla,1 deputy principal 4 heads of
                departments 21 teachers.
                The school offers Grade 8 up to Grade 12. We have about 811 leaners in total 27 teachers in total 13
                mails and 14 femails.
                Our dressing code in uniform is Marron and White, marron socks and black shoes. Boys ware grey trousers
                marron or gray socks,
                white shirts marron tie with white stripes. Girls marron skirts white blouses, marron tie with white
                stripes.
            </p>

            <h1>Our Vision</h1>
            <p>Ensuring that every learner excels at school and leaves Thabane Secondary School with skills and
                knowledge that will give them the best chance of success in future.</p>

            <h1>Mission</h1>
            <p>This school was established to enable all young people who enrol here to build together a future where
                each respects
                the worth and dignity of the other and accepts a mutual responsibility for creating an ethos where
                teaching and learning
                can flourish and where each one can fully develop his or her potential.

                Together, we will strive to build a school where young minds, spirits and bodies, rooted in sound moral
                values and an
                acceptance of our common humanity under God, can be nurtured and encouraged to reach new frontiers.
            </p>
        </div>
    </div>

    <div class="footer">
        <p>Copyright © 2016. website powered by </p>
        <img src="./images/footer.webp" alt="">
    </div>

</body>

</html>