<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
    <link rel="stylesheet" href="Styles.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="./images/logo2.jpg" alt="Company Logo">
        </div>
        <nav>
          <a href="Home.html">Home</a>
          <a href="About.html">About Us</a>
          <a href="Subjects.html">Subjects</a>
          <a href="Contact.html">Contact</a>
        </nav>
      </header>
    
    <div class="about">
        <h1>Subjects</h1>
    </div>

    <div class="container1">
        <div class="box">
            <h2>Description</h2>
            <p>At Thabane Secondary School, a total of 9 subjects are offered for learners in grade 8-9, and 14 subjects
                for
                learners in grade 10-12. In the FET phase (Grades 10-12) learners are presented with a choice of
                possible
                subjects to take.
            </p>

            <h1>Subjects offered: G.ET Phase</h1>
            <ol>
                <li>ECONOMIC AND MANAGEMENT SCIENCES</li>
                <li>SOCIAL SCIENCES</li>
                <li>ENGLISH FIRST ADDITIOPNAL LANGUAGE</li>
                <li>SETSWANA HOME LANGUAGE</li>
                <li>TECHNOLOGY</li>
                <li>MATHEMATICS</li>
                <li>NATURAL SCIENCES</li>
                <li>LIFE ORIENTATION</li>
                <li>CREATIVE ARTS</li>
            </ol>

            <h1>Subjects offered: F.E.T Phase</h1>
            <ol>
                <li>COMPUTER APPLICATION TECHNOLOGY</li>
                <li>PHYSICAL SCIENCES</li>
                <li>MATHEMATICS</li>
                <li>MATHEMATICAL LITERACY</li>
                <li>ACCOUNTING</li>
                <li>ECONOMICS</li>
                <li>BUSINESS STUDIES</li>
                <li>HISTORY</li>
                <li>GEOGRAPHY</li>
                <li>LIFE SCIENCES</li>
                <li>LIFE ORIENTATION</li>
                <li>SETSWAN HOME LANGAUGE</li>
                <li>ENGLISH FIRST ADDITIONAL LANGUAGE</li>
                <li>AFRIKAANS FIRST ADDITIONAL LANGUAGE</li>
            </ol>
        </div>
    </div>

    <div class="footer">
        <p>Copyright © 2016. website powered by </p>
        <img src="./images/footer.webp" alt="">
    </div>

</body>

</html>